{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h1>Game History</h1>

{% if games %}
<ul>
    <!-- zip() to combine two or more iterables -->
    {% for game in games %}
    <li>
        Combination: {{ game.combination }}
        {% if game.win %}
        (Win)
        {% else %}
        (Lose)
        {% endif %}

        <br>

        Feedback History:
        <ul>
            {% for feedback in game.feedback_history %}
            <li>{{ feedback }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No game history available.</p>
{% endif %}

{% endblock %}